<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- the above specifies the DTD (document type definition) for a Hibernate config file -->
<!-- this file is considered "valid" if it conforms to the allowed elements listed in the DTD (or XSD, xml schema definition) -->
<!-- an XML file can be "well-formed" without being "valid" -->
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">ebanks</property>
		<property name="hibernate.connection.password">password1</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@sparksql.c4cdi2vugolu.us-east-2.rds.amazonaws.com:1521:orcl</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.current_session_context_class">thread</property>	
		<property name="hibernate.show_sql">true</property>
		<!-- choose whether to start fresh or update existing ddl -->
		<!-- update by default -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- locations of domain object mappings -->
		<mapping class="beans.Holiday"></mapping>
	</session-factory>
</hibernate-configuration>